<div class ="container">
  <nav>
    <img src="http://www.izmirgaz.com.tr/design/logo.png" alt="İzmir Doğalgaz" class="img-responsive center-block logoA" width="190" height="132">
  </nav>
  <div>
    <div id="yetkiliFirmaCode">
      1111111
    </div>
    <div id="yetkiliFirmaIsim" class=" center-block">
      A Yetkili Firması
    </div>
  </div>
  <div id="YetkiliFirmaStatus">
    YETKİLİ FİRMA
  </div>
  <div class ="statistics-row">
    <div>
      <h1 id="yetkiliFirmaPerformansPuani">100</h1>
      <div style="margin-top: 10px">
        Firma
        <br />
        Performans Puanı
      </div>
    </div>
    <div>
      <h1 id="yetkiliFirmaIlkGazAcma">100</h1>
      <div>
        İlk Seferde
        <br />
        Gaz Açma Yüzdesi
      </div>
    </div>
  </div>
  <div>

  </div>
  <div>

  </div>
</div>
